<% include ./header.ejs %>

<div class="text-center" style="margin-top: 150px">

    <% prescription.forEach(function (pres) { %>
    <div class="" style="margin-left: 75px">
        <div class="">
            <div class="card" style="width:40%;margin: 30px;text-align: left!important;">
                <div class="card-body">
                    <h5 class="card-title">Prescription</h5>
                    <p class="card-text">Patient Name: Rishab Lamba</p>
                    <p class="card-text">Date: 3/03/19</p>
                    <p class="card-text">Age: 20</p>
                    <p class="card-text">Doctor Name: Dr Mankirat Singh</p>
                    <p class="card-text">Max ID: #567876</p>
                    <br>
                    <p class="card-text">Physical Examination: <%= pres.physical%></p>
                    <p class="card-text">Provisional Examination: <%= pres.provisional%></p>
                    <p class="card-text">Investigation Examination: <%= pres.investigation%></p>
                    <br>
                    ------------------------------------------------------<br/>
                    <b>Medicines:</b>
                    <p class="card-text">Medicine: <%= pres.medicine%></p>
                    <p class="card-text">Schedule: <%= pres.dose%></p>
                    <p class="card-text">Instruction: <%= pres.instruction%></p>
                </div>
            </div>
        </div>
    </div>
    <% }) %>

</div>